<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
	<body>
	<div data-th-fragment="navbar">
		<nav class="navbar bg-body-tertiary">
			  <div class="container-fluid">
			    	<a class="navbar-brand" href="#">
						<img src="/images/Logo-unju.png" alt="Logo" width="150" height="35" class="d-inline-block align-text-top">
						Facultad de Ingenieria Unju
					</a>
					<p>Lema</p>
			  </div>
		</nav>
		<nav  class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				     	 <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					      <div class="navbar-nav">
						        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
						        <a class="nav-link" href="#">Acerca de</a>
						        <a class="nav-link" href="#">Carreras</a>
						        <a class="nav-link" href="#">Noticias</a>
						        <a class="nav-link" href="#">Contacto</a>
					      </div>
				    </div>
			 </div>

		</nav>
	</div>
		

	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>