<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lista de Materias</title>
	<link rel ="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
	<!-- Header -->
	<div data-th-replace="~{fragments/header :: navbar}"></div>
	
	<div class="container">
		<table class="table table-striped">
			<thead>
			    <tr>
			      <th scope="col">Codigo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Curso</th>
			      <th scope="col">Cantidad de Horas</th>
			      <th scope="col">Modalidad</th>
			      <th scope="col">Legajo Docente</th>
			      <th scope="col">Carrera</th>
			      <th scope="col">Estado</th>
			      <th scope="col"> Edicion</th>
			    </tr>
			</thead>
			<tbody>
			    <tr data-th-each="materia :${listadoMaterias}">
			      <td data-th-text="${materia.cod}"></td>
			      <td data-th-text="${materia.nombre}"></td>
			      <td data-th-text="${materia.curso}"></td>
			      <td data-th-text="${materia.cantHoras}"></td>
			      <td data-th-text="${materia.modalidad}"></td>
			      <td data-th-text="${materia.legDoc}"></td>
			      <td data-th-text="${materia.carrera}"></td>
			      <td data-th-text="${materia.status}"></td>
			      <td>
			      	<a data-th-href="@{'/eliminarMateria/'+${materia.cod}}" class="btn btn-danger">Borrar</a>
			      
			      	<a data-th-href="@{'/modificarMateria/'+${materia.cod}}" class="btn btn-warning">Modificar</a>
			      </td>
			    </tr>
			</tbody>
		</table>
	</div>
	<footer data-th-replace="~{fragments/footer :: footer}">
		</footer> 
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>